<!DOCTYPE html>
<html>
<head>
	<title>Painel de Corretor</title>
</head>
<body>
	<h1>Este é o painel do Corretor</h1>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}

		<h3>Essas são as propostas que podem ser escolhidas</h3>
	{% for p in propostas %}
	<img style="width: 200px; margin: 10px" src="media/{{ p.imagem }}">
	{% endfor %}

	<br>
	<form action="{% url 'Redacao:pedirRedacaoUrl' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Pedir Redação" {{ can_ask_redacao }}/>
	</form>
	<br>
	<form action="{% url 'Redacao:corrigirUrl' %}" method="get">
		{% csrf_token %}
		<input type="submit" value="Corrigir" {{ can_corrigir }}/>
	</form>
</body>
</html>