<!DOCTYPE html>
<html>
<head>
	<title>Painel de Aluno</title>
	<meta charset="utf-8">
</head>
<body>
	{% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
	<h1 style="align-content: center;">Enviar</h1>
	<form enctype="multipart/form-data" method="post" action="{% url 'Redacao:enviarRedacaoUrl' %}">
		{% csrf_token %}
		{{ f.as_p }}
		<input type="submit" name="submit" value="Enviar" />
	</form>
</body>
</html>