<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projeto Redação</title>
</head>
<body>
	<center>
		<h1>Bem vindo ao Projeto Redação</h1>
		<p>Aqui será a nova casa para suas redações</p>
		{% if user.is_authenticated %}
			Oi {{ user.email }}!
			<a href="{% url 'Visitante:logout' %}?next=/"> Logout</a>
			<br>
			<br>
		{% else %}
			<h2><a href="{% url 'Visitante:studentRegisterUrl' %}">Cadastrar-se como Aluno!</a></h2>
		{% endif %}
		{% if perm_aluno %}
			<a href="{% url 'Aluno:painelAlunoUrl' %}"> Painel do Aluno </a>
			<br>
			<br>
		{% endif %}
		{% if perm_corretor %}
			<a href="{% url 'Corretor:painelCorretorUrl' %}"> Painel do Corretor </a>
		{% endif %}
		{% if not perm_corretor and not perm_aluno %}
			<a href="{% url 'Visitante:login' %}">login</a>
		{% endif %}
	</center>
</body>
</html>