<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projeto Redação</title>
</head>
<body>
	<center>
		<h1>Bem vindo ao Projeto Redação</h1>
		<p>Aqui será a nova casa para suas redações</p>
		{% if user.is_authenticated %}
			Oi {{ user.email }}!
			<a href="{% url 'Visitante:logout' %}?next=/"> Logout</a>
		{% else %}
			<a href="{% url 'Visitante:login' %}">login</a>
		{% endif %}
		<br>
		<br>
		<br>
		{% if not user.is_authenticated %}
			<h2><a href="{% url 'Visitante:studentRegisterUrl' %}">Cadastrar-se como Aluno!</a></h2>
		{% endif %}
	</center>
</body>
</html>